body {
    overflow: hidden;
}

#snippet {
    width: 30%;
    min-width: 400px;
    visibility: visible;
}

#formulaImage {
    width: 20%;
}

@media screen and (max-width: 1000px) {
    #formulaImage {
        width: 60%;
    }
}

@media screen and (max-width: 400px) {
    #snippet {
        visibility: hidden;
    }
}

@media (pointer:none), (pointer:coarse) {
    #formulaImage {
        visibility: hidden;
    }

    #snippet {
        visibility: hidden;
    }

    #formAndAnswers {
        text-align: center;
    }
}